In [2]:
#Import all the required Python Libraries. 

import pandas as pd
import numpy as np

In [4]:
#Load dataset

weather = pd.read_csv('weatherAUS.csv')

In [6]:
#Data preprocessing

#Checking for missing values
missing_values = weather.isnull().sum()

weather.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132923.000000,140845.000000,139563.000000,140419.000000,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,142193.000000
mean,12.186400,23.226784,2.349974,5.469824,7.624853,39.984292,14.001988,18.637576,68.843810,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,2.360682
std,6.403283,7.117618,8.465173,4.188537,3.781525,13.588801,8.893337,8.803345,19.051293,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.900000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.500000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,0.000000
75%,16.800000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,371.000000

In [8]:
#Provide variable description

var_description = weather.dtypes

In [10]:
#Check Dimensions

weather.shape

(142193, 24)

In [18]:
#Turning Categorical Variables into Quantitative Variables

weather = pd.get_dummies(weather, columns=['Sunshine'], drop_first=True)

In [19]:
weather.head()

,Date,Location,MinTemp,MaxTemp,Evaporation,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Sunshine_13.5,Sunshine_13.6,Sunshine_13.7,Sunshine_13.8,Sunshine_13.9,Sunshine_14.0,Sunshine_14.1,Sunshine_14.2,Sunshine_14.3,Sunshine_14.5
0,2008-12-01,Albury,13.4,22.9,NaN,W,44.0,W,WNW,20.0,...,False,False,False,False,False,False,False,False,False,False
1,2008-12-02,Albury,7.4,25.1,NaN,WNW,44.0,NNW,WSW,4.0,...,False,False,False,False,False,False,False,False,False,False
2,2008-12-03,Albury,12.9,25.7,NaN,WSW,46.0,W,WSW,19.0,...,False,False,False,False,False,False,False,False,False,False
3,2008-12-04,Albury,9.2,28.0,NaN,NE,24.0,SE,E,11.0,...,False,False,False,False,False,False,False,False,False,False
4,2008-12-05,Albury,17.5,32.3,NaN,W,41.0,ENE,NW,7.0,...,False,False,False,False,False,False,False,False,False,False